
    .form-container {
        border: 1px solid; /* Border around the container */
        border-radius: 20px;    /* Rounded corners */
        background-color: #e2ae7297;
        padding: 20px;         /* Padding inside the container */
        width: 100%;           /* Full width or adjust as needed */
        max-width: 500px;      /* Max width to keep it from stretching too wide */
        margin: 0 auto;        /* Center the container horizontally */
    }

    
    .label{
    font-size: 16px;
    display: block;
    color: black;
    padding: 5px;
    text-align: left; /* Centers the text in the label */
    width: 100%;
    }
    
    .input{
    width: 100%;
    padding: 0.5rem; /* Tailwind's p-2 corresponds to 0.5rem */
    border-width: 1px;
    border-color: #d1d5db; /* This corresponds to a light gray, assuming Tailwind's color palette */
    color: #000000; /* Black color */
    border-radius: 0.25rem; /* Tailwind's rounded c */
    }
    
    .btn{
    color: white;
    background-color: rgb(198, 129, 129);
    border-radius: 10px;
    font-size: larger;
    display: block;
    padding: 10px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    font-size: 10px;
    background-color: rgb(198, 129, 129);
    width: fit-content;
    border-radius: 20px;
    }
    
    .success{
    display: block;
    font-size: 20px;
    background-color: #22544669;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }

    